{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Elements Interactive API example{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to project.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          </a>
          <a class="brand" href="#">Elements Interactive API example</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <div class="row span9 offset1">
        {% block messages %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-error">
                  <button type="button" class="close" data-dismiss="alert">
                      ×
                  </button>
                  <strong style="text-transform:uppercase">{{ message.tags }}.</strong> {{ message|safe }}
              </div>
            {% endfor %}
          {% endif %}
        {% endblock messages %}
      </div>
      <div class="row span12">
        <h1>{% block page_title %}API routes:{% endblock page_title %}</h1>
        <div id="main_content">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div> <!-- /container -->
      <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster 
      <script src="http://code.jquery.com/jquery-latest.js"></script> -->
      <script src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
