{% extends "base.html" %}

{% block content %}
<ul>
  <li><a href="/api/v1/?format=json">Peek API routes root</a></li>
  <li><a href="/api/v1/item/?format=json">Peek ITEMS json packet</a></li>
  <li><a class="text-error" href="{% url 'load_file' %}">Load initial CSV data</a></li>
</ul>
{% endblock content %}